ul {
  list-style-type: none;
}

header {
  display: flex;
  height: 45px;
  padding: 16px;;
  border: 1px solid #e4e9ed;
  justify-content: space-between;
  background-color: white;
  a {
    text-decoration: none;
  }
  h1 {
    font-family: 'Pacifico', cursive;
    font-size: 36px;
    color: red;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-weight: 50;
  }
  nav {
    display: flex;
    align-items: center;
    a {
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 15px;
      margin-left: 10px;
      text-decoration: none;
      color: #979fa4;
    }
    .nav-login {
      margin-right: 10px;
    }
  }
}
.header-dropdown{
  display: flex;
  box-shadow: rgba(0,0,0,0.54) 0 3px 8px 0;
  position: absolute;
  border: 1px solid rgba(0,0,0,0.12);
  border-radius: 3px;
  background-color: white;
  overflow: hidden;
  right: 16px;
  width: 460px;
  top: 60px;
  z-index: 1;
  ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 5px 0px;
  }
  li {
    padding: 0px 20px;
    cursor:pointer;
    p {
      padding: 12px 0px;
      border-bottom: 1px solid rgba(0,0,0,0.12);
      font-size: 16px;
      white-space: nowrap;
      margin: 0;
    }
  }
  li:hover {
    background-color: #F64060;
    color: white;
  }

  .group-list {
    width: 60%;
  }
  .profile-list{
    width: 40%;
    color: rgba(0,0,0,0.54);
    li{
      font-size: 16px;
      font-weight: 600;
    }
  }
}

.rest-page{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.profile-dropdown{
  cursor: pointer;
  i {
    font-size: 26px;
  }
  margin-right: 5px;
}

.logged_in a {
  font-size: 15px;
  display: inline-block;
  margin-left: 25px;
  cursor: pointer;
}
