.show-page {
  background-color: #fafafa;
  padding: 20px 0px;
  .show-inside {
    max-width: 1050px;
    width:100%;
    border-radius: 5px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgba(0,0,0,.12);
    min-height: 300px;
    padding: 20px;
    background-color: white;
  }
  .show-header{
    display: flex;
    padding-bottom: 20px;
    border-bottom: 1px solid  rgba(0,0,0,.12);
  }
  h3 {
    margin: 0;
  }
  .show-image{
    width:50%;
    margin-left: 16px;
    text-align: center;
    i {
      font-size: 160px;
    }
    img {
      border-radius: 5px;
      max-width: 100%;
      max-height: 330px;
    }
  }
  .show-information{
    width:50%;
    margin-right: 20px;
  }
  .user-info {
    width: 70%;
  }
  .user-img {
    width: 30%;
  }
  .show-name{
    border-bottom: 1px solid rgba(0,0,0,.12);
    h3 {
      font-size: 28px;
      line-height: 1.25;
    }
  }
  .general-info{
    display: flex;
    // justify-content: space-around;
    div {
      width: 40%;
      padding-bottom: 20px;
    }
  }
  .showme-info{
    h4{
      margin-bottom: 0;
      font-size: 18px;
      font-weight: bold;
    }
    p {
      margin: 0;
      font-size: 16px;
      line-height: 1.45;
      font-weight: 400;
      margin-top: 10px;
    }
  }

  .user-showme {
    align-items: center;
    border-top: 1px solid rgba(0,0,0,.12);
  }
  button{
    background: #f13a59;
     color: white;
     width: 120px;
     height: 40px;
  }
  button:hover{
    background: #e81035;
    -webkit-transition: all .4s cubic-bezier(.165,.84,.44,1);
    transition: all .4s cubic-bezier(.165,.84,.44,1);
    cursor: pointer;
  }
}
